*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light1: #ffffff;
  --light2: #ecf0f1;
  --dark1: #000000;
  --active-txt: #4cd137;
  --text-hover: #d19930;
  --bg-hover: #1d1e22;
  --tomato: #ea2027;
}
$light1: #ffffff;
$light2: #ecf0f1;
$dark1: #000000;
$active-txt: #4cd137;
$text-hover: #d19930;
$bg-hover: #1d1e22;
$tomato: #ea2027;
