.form-ui {
  position: relative;
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--formBackground);
  box-shadow: var(--formShadow);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
}
