.textField-ui {
  width: 100%;
  padding: 10px 5px;
  border: none;
  background-color: var(--inputFieldBg);
  // color:var(--inputFieldColor);
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  margin: 5px 0 10px 0;
}
